@charset "utf-8";
/* CSS Document */

.maintext 
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 2%;
	margin-bottom: 0%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom:1%;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style:normal;
	font-size:18px;
}
.head_1 
{
	margin-top: 2%;
	margin-left: 4%;
	margin-bottom: 2%%;
	padding-left: 4%;
	font-size:36px;
}
.head_2
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 2%;
	margin-bottom: 0%;
	padding-left: 2%;
	font-size: 24px;
}
	.head_3
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 2%;
	margin-bottom: 0%;
	padding-left: 3%;
	font-size:20px;
}
.heads
{
	font-size:24px;
	margin-bottom:7px;
	margin-left: 5%;
}

img 
{
	margin-left:4%;
	margin-top: 2%;
}
li 
{
	margin-left: 3%;
}
table 
{
	margin-left: 6%;
	font-size:18px;
}

td 
{
	color:#660033;
}
select 
{
	margin-left: 25px;
	margin-top: 25px;
	font-size:16px;
	font-size:18px;
}
input 
{
	font-size:16px;
	font-family:"Palatino Linotype", cursive;
	margin-left: 2%;
}
button 
{
	margin-top: 67px;
	margin-left: 2%;
	width: 104px;
	height: 45px;
	background-color:#FCC;
	font-family:"Arial Black", Gadget, sans-serif;
}