a{
    text-decoration: none;
}
body,html{
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
body *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
iframe{
    height: 100%;
    width: 100%;
}
menu{
    display: table;
    left: 210px;
    padding-left: 0;
    position: absolute;
    top: 0;
}
menu li{
    display: table-cell;
}
menu li a{
    color: darkgray;
    display: block;
    font-family: Verdana, Tahoma;
    padding: 4px 10px;
}
menu li a:hover{
    background-color: #ddd;
    color:#333;
}
nav{
    background-color: #333;
    color: azure;
    height: 60px;
    position: relative;
}
nav, #left-menu, #contents{
    padding: 20px;
}
section a:hover{
    background-color: #ccc;
    color: black;
}
#contents{
    left: 210px;
    right: 0;
    padding-bottom: 0;
}
#left-menu, #contents{
    bottom: 0;
    position: absolute;
    top:60px;
    z-index: 2;
}
#left-menu{
    border-right: solid #333;
    left: 0;
    width: 210px;
    overflow: auto;
}
#left-menu section{
    border:solid #ccc;
    margin-bottom: 10px;
}
#left-menu a{
    display: block;
    height: 100%;
    padding: 20px;
}
#logo{
    color: lightgrey;
    float: left;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    display: table;
}